name: Interop tests

permissions:
    contents: read

on:
    workflow_call:

jobs:
    layering-test:
        name: Containertool layering test
        runs-on: ubuntu-latest
        services:
            registry:
                image: registry:2
                ports:
                    - 5000:5000
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  persist-credentials: false

            - name: Mark the workspace as safe
              # https://github.com/actions/checkout/issues/766
              run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

            # First layer: payload does not have to be an executable, it just has to have known contents
            - name: Build first layer
              run: |
                  echo first layer > payload
                  swift run containertool --repository localhost:5000/layering_test payload --from scratch
                  docker create --name first --pull always localhost:5000/layering_test
                  docker cp first:/payload first.payload
                  grep first first.payload

            # Second layer: payload does not have to be an executable, it just has to have known contents.   It should replace the first layer.
            - name: Build another layer, which should override 'payload' from the first layer
              run: |
                  echo second layer > payload
                  swift run containertool --repository localhost:5000/layering_test payload --from localhost:5000/layering_test:latest
                  docker create --name second --pull always localhost:5000/layering_test
                  docker cp second:/payload second.payload
                  grep second second.payload

    elf-detection-test:
        name: Containertool ELF detection test
        runs-on: ubuntu-latest
        services:
            registry:
                image: registry:2
                ports:
                    - 5000:5000
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  persist-credentials: false

            - name: Mark the workspace as safe
              # https://github.com/actions/checkout/issues/766
              run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

            - name: Install the static SDK
              run: |
                  swift sdk install \
                      https://download.swift.org/swift-6.2-release/static-sdk/swift-6.2-RELEASE/swift-6.2-RELEASE_static-linux-0.0.1.artifactbundle.tar.gz \
                      --checksum d2225840e592389ca517bbf71652f7003dbf45ac35d1e57d98b9250368769378

            # Run the test script
            - name: Test ELF detection
              run: |
                  scripts/test-containertool-elf-detection.sh
