name: PR

permissions:
    contents: read

on:
    pull_request:
        types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
        with:
            api_breakage_check_container_image: "swift:6.0-noble"
            docs_check_container_image: "swift:6.0-noble"
            license_header_check_project_name: "SwiftContainerPlugin"
            shell_check_container_image: "swift:6.0-noble"

    # Unit tests for functions and modules
    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_9_enabled: false
            linux_5_10_enabled: false
            linux_6_0_arguments_override: "--skip SmokeTests --skip TarInteropTests"
            linux_6_1_arguments_override: "--skip SmokeTests --skip TarInteropTests"
            linux_6_2_arguments_override: "--skip SmokeTests --skip TarInteropTests"
            linux_nightly_6_1_arguments_override: "--skip SmokeTests --skip TarInteropTests"
            linux_nightly_main_arguments_override: "--skip SmokeTests --skip TarInteropTests"

    # Test functions and modules against a separate registry
    integration-tests:
        name: Integration tests
        uses: ./.github/workflows/integration_tests.yml

    # Test that outputs can be handled properly by other systems
    interop-tests:
        name: Interop tests
        uses: ./.github/workflows/interop_tests.yml

    # Full build-package-deploy-run cycles
    endtoend-tests:
        name: End to end tests
        uses: ./.github/workflows/endtoend_tests.yml

    swift-6-language-mode:
        name: Swift 6 Language Mode
        uses: apple/swift-nio/.github/workflows/swift_6_language_mode.yml@main
